{% extends 'index.html' %}

{% block titulo %}

Sobre Mi
{% endblock titulo %}

{% block tituloPortada %}

<h1 class="display-4 fw-bolder">Sobre Mi</h1>
<p class="lead fw-normal text-white-50 mb-0"></p>

{% endblock tituloPortada %}

{% block inicio %}

<h2>
    Manuel Pena es mi nombre, muy contento de finalizar mi curso de Python y Django. <br>
    <br>
    Aprendi muchisimo, excelentes las clases del profesor.<br>
    <br>
    No hay ningun secreto, solamente sentarte e intentar en loop.<br>
    <br>
    Mi tutor Excelente, siempre contesto las dudas. Sin palabras.<br>
    <br>
    Y espero poder seguir mi carrera en python... <br>





{% endblock inicio %}